@media screen and (min-width: 500px){
    nav{
        flex-direction: row;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    main{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .activity-card{
        justify-self: center;
        width: 500px;
        height: 400px;
        background-color:lightcoral;
        border: 5px solid black;
        box-shadow: 5px 5px 10px #6f7364;
        margin-top: 30px;
        width: 60%;
    }

    .info-card{
        background-color:lightcoral;
        border: 5px solid black;
        box-shadow: 5px 5px 10px #6f7364;
        margin-top: 30px;
        height: 400px;
        width: 500px;
        width: 60%;
    }

    main h2{
        /* grid-row: 2/3; */
        grid-column: 1/3;
    }
    
    #menu {
		display: none;
	}

    #mode{
        right: 1rem;
    }

    .navigation{
        display:flex;
    }

    picture{
        grid-column: 1/3;
        justify-self: center;
    }

    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        z-index: 5;
        width: 200px;
        text-align: center;
    }

    iframe{
        width:100%;
    }
}